# Logs
*.log

# Temporary files
*.tmp

# Package manager
package-lock.json

# Database files
*.sqlite
*.sqlite-journal

# Node modules folder
node_modules

# Personal Data
insertDriversFromFile.json
*.csv
*.xlsx

# Development
tempCodeRunnerFile.*

# Typescript
*.tsbuildinfo
/out

# Config
.env
