block variables
    - let baseTitle = ""

doctype html
html(lang="de")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel=icon, type="image/x-icon" href="/favicon.ico")

        meta(http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate")
        meta(http-equiv="Pragma" content="no-cache")
        meta(http-equiv="Expires" content="0")
        title #{baseTitle} - ZEITNAHME

        block scripts
            script(src="/js/theme.js" type="module" defer)

        block styles
            link(rel="stylesheet" href="/css/values.css" defer)
            link(rel="stylesheet" href="/css/base.css" defer)

    body
        block content

        if typeof showHomeButton === "undefined" || showHomeButton === true
            .home-button
                a(href="/")
                    img(src="/icon/home-dark.svg" width="36px" height="36px" alt="Home")