extends /base.pug

append variables
    - baseTitle = "HOME"

append styles
    link(rel="stylesheet" href="/css/home.css")

append content
    h1 Zeitnahme MSC

        if operationMode === "manual"
            .container
                a(href="/displayManual").blue Anzeige
                a(href="/operation").green Steuerung
                a(href="/settings").yellow Einstellungen
                a(href="/times").orange Zeiten
                a(href="/database").purple Datenbank
        if operationMode === "standalone"
            .container
                a(href="/standalone").blue Standalone
                a(href="/settings").yellow Einstellungen
    footer 
        p Made with ❤ by 
            a(href="https://www.github.com/HendrikRauh") Hendrik Rauh
