extends /base.pug

append variables
    - baseTitle = "HOME"

append styles
    link(rel="stylesheet" href="/css/home.css")

append content
    h1 Zeitnahme MSC
        .container
            a(href="/display").purple Anzeige
            a(href="/operation").green Steuerung
            a(href="/settings").yellow Einstellungen
            a(href="/times").orange Zeiten
            a(href="/database").red Datenbank
    footer 
        p Made with â¤ by 
            a(href="https://www.github.com/HendrikRauh") Hendrik Rauh
