extends /base.pug

append variables
    - baseTitle = "HOME"

append styles
    link(rel="stylesheet" href="home.css")

append content
    h1 Zeitnahme MSC
        .container
            .row
                a(href="/display").green Anzeige
                a(href="/operation").green Steuerung
            .row
                a(href="/settings").yellow Einstellungen
                a(href="/info").yellow Systeminformationen

            a(href="/times").purple Zeiten

            a(href="/database").red Datenbank
    footer 
        p Made with ❤ by 
            a(href="https://www.github.com/HendrikRauh") Hendrik Rauh
