option,
select {
    font-size: 16px;
    color: var(--color-text);
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    height: auto;
    background-color: var(--color-card);
}

button {
    font-size: 16px;
    color: var(--color-text);
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: var(--big-spacing) 0;
    padding: var(--big-spacing);
    background-color: var(--color-card);
    font-size: 16px;
    text-align: center;
    border: 0.1rem solid var(--color-primary);
    border-radius: 50vh;
    opacity: 1;
    cursor: pointer;
    transition: all 0.3s;
    display: block;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
button:disabled,
select:disabled,
input:disabled {
    border-color: transparent;
}

.emoji button {
    font-size: 1.5rem;
}

.form-row {
    position: relative;
    display: flex;
}

.input-field {
    min-width: 130px;
    width: 100%;
    padding: var(--big-spacing);
    border: 0.1rem solid var(--color-primary);
    border-radius: 50vh;
    outline: 0;
    background-color: var(--color-card);
    color: var(--color-text);
    box-sizing: border-box;
    transition: all 0.3s;
}

label {
    color: var(--color-text);
    font-size: 16px;
    padding: 0 8px;
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    pointer-events: none;

    transition: top 0.3s;
}

input {
    font-size: 16px;
    color: var(--color-text);
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.input-field:focus ~ .label,
.input-field:not(:placeholder-shown) ~ .label {
    background-color: var(--color-card);
    top: 0;
    border-radius: 50vh;
    border: 0.1rem solid var(--color-primary);
}

input.input-field::-webkit-outer-spin-button,
input.input-field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"].input-field {
    -moz-appearance: textfield;
    appearance: textfield;
}

select {
    flex-grow: 2;
    color: var(--color-text);
    border: 0.1rem solid var(--color-primary);
    padding: var(--big-spacing);
    border-radius: 50vh;
}

label:has(~ select) {
    margin-bottom: 8px;
    display: inline-block;
}
