.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 16px;
    margin: 16px;
}

.container > a {
    width: 100%;
    padding: 16px;
    margin: 16px;
    border-radius: 5px;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--color-on-primary);
    background-color: var(--color-primary);
}

.container > a:hover {
    background-color: var(--color-primary-hover);
}

hr {
    width: 100%;
    border: 0;
    height: 1px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--color-accent);
}
