.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 16px;
    margin: 16px;
}

.container a {
    padding: 1rem;
    margin: 1rem;
    border-radius: 50vh;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--color-text);
    border: 0.1rem;
    border-style: solid;
    transition: all 0.3s ease-in-out;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

a:hover {
    transform: scale(1.2);
}

.container .red {
    border-color: var(--color-red);
}

.container .orange {
    border-color: var(--color-orange);
}

.container .yellow {
    border-color: var(--color-yellow);
}

.container .green {
    border-color: var(--color-green);
}

.container .blue {
    border-color: var(--color-blue);
}

.container .purple {
    border-color: var(--color-purple);
}

footer a {
    text-decoration: none;
    color: var(--color-blue);
}
