:root {
    /* PRIMARY COLORS */

    --color-background: #221f22;
    --color-card: #2d2a2e;
    --color-text: #fefaf9;
    --color-red: #ff6188;
    --color-orange: #fc9867;
    --color-yellow: #ffd866;
    --color-green: #a9dc76;
    --color-blue: #78dce8;
    --color-purple: #ab9df2;

    --color-primary: var(--color-yellow);

    --thickness-table-border: 1px;

    /* DIMENSIONS */

    --border-radius: 10px;
    --root-spacing: 24px;
    --spacing: 10px;
    --media-max-width: 400px;

    /* ANIMATIONS */

    --transition-duration: 0.3s;

    /* DIMENSIONS */

    --border-radius: 10px;
    --root-spacing: 24px;
    --spacing: 10px;
    --big-spacing: 16px;
    --media-max-width: 400px;

    /* ANIMATIONS */

    --transition-duration: 0.3s;
}

body.light {
    --color-background: #fefaf9;
    --color-card: #f6f2f2;
    --color-text: #221f22;
    --color-red: #e14775;
    --color-orange: #e16032;
    --color-yellow: #cc7a0a;
    --color-green: #269d69;
    --color-blue: #1c8ca8;
    --color-purple: #7058be;
}
